<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 输出配置 -->
    <appenders>
    	<!-- 控制台输出 -->
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %class %L %M - %msg%n"/>
        </console>
		
		<!-- fileName：输出路径  filePattern：命名规则 -->
        <RollingFile name="RollingFileDebug" fileName="${web:rootDir}/logs/debug.log" filePattern="${web:rootDir}/logs/$${date:yyyy-MM-dd}/debug-%d{yyyy-MM-dd}-%i.log">
            <Filters>
            	<!-- 设置该输出位置存储的日志级别信息 -->
                <ThresholdFilter level="DEBUG"/>
                <!-- 拒绝info及以下所有级别信息 -->
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <!-- 输出格式 -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%n"/>
            <Policies>
                <!-- 单个日志文件的大小限制 -->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <!-- 最多保留20个日志文件 -->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="RollingFileInfo" fileName="${web:rootDir}/logs/info.log"
                     filePattern="${web:rootDir}/logs/$${date:yyyy-MM-dd}/info-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                  <ThresholdFilter level="INFO"/>
                  <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <!-- 输出格式 -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <!-- SizeBasedTriggeringPolicy单个文件的大小限制 -->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy同一个文件下的最大文件数 -->
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
        
         <RollingFile name="RollingFileWarn" fileName="${web:rootDir}/logs/warn.log"
            filePattern="${web:rootDir}/logs/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
                <!--<TimeBasedTriggeringPolicy modulate="true" interval="1"/>-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <!--最多保留20个日志文件-->
            <DefaultRolloverStrategy max="20" min="0" />  
        </RollingFile>
        
         <RollingFile name="RollingFileError" fileName="${web:rootDir}/logs/error.log"
            filePattern="${web:rootDir}/logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="ERROR"/>
                <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
            <Policies>
               <!--<TimeBasedTriggeringPolicy modulate="true" interval="1"/>-->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <!--最多保留20个日志文件-->
            <DefaultRolloverStrategy max="20" min="0" />  
        </RollingFile>
    </appenders>

 	<!-- 记录器的配置 -->
    <loggers>
        <!--过滤掉spring和mybatis的一些无用的debug信息-->
        <logger name="org.springframework" level="error"></logger>
        <logger name="org.mybatis" level="error"></logger>
        
        <root level="all">
        <!-- -->
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileDebug"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileWarn"/>
            <appender-ref ref="RollingFileError"/>
        </root>
    </loggers>
 
</configuration>