<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 具体执行的任务代码 -->
	<bean id="cashUtils" class="com.xzlin.news.service.NewsService"></bean>
	
	<!-- JobDetail，任务详情 -->
	<bean id="myjobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="cashUtils"></property>
		<property name="targetMethod" value="pushRemoteNewsToDB"></property>
		<property name="concurrent" value="false"></property><!-- 任务是否支持并发执行 -->
	</bean>
	<!-- 触发时间设置
	秒 分 时  dayofMonth month  dayofweek
	 -->
	<bean id="myjobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="myjobDetail"></property>
		<property name="cronExpression" value="0 0/20 * * * ?"></property>
	</bean>
	
	<!-- 任务调度对象 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="myjobTrigger"/>
			</list>
		</property>
	</bean>
	
</beans>